<app-navigation></app-navigation>

<!--PROPER COMPONENT LAYOUT -->

<div class="container user-management-container">
  <label for="searchUser">Search</label>
  <input type="text" id="searchUser">
  <button class="btn btn-outline-success">Create new user</button>
</div>



<div class="container">
  <h5>FEATURES TO BE IMPLEMENTED</h5>
  <ol>
    <li>Send invitations to users on email with role assigned - create new users</li>
    <li>View all users on list and search them</li>
    <li>Change their names and disable them</li>
  </ol>
</div>
