.login-page {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.app-title {
  text-transform: uppercase;

}

form {
  width: 50%;
}

.login-image {
  width: 50vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d7d731;
  width: 50vw;
}

.error-message {
  color: #ea3d3d;
  font-size: 12px;
}

input.ng-invalid.ng-touched {
  border-color: #ea3d3d;
}
