$inactive-tab-color: 'gray';
$active-tab-color: 'red';

.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  max-height: 65px;

  ul > li {
    list-style: none;
  }

  & a {
    text-decoration: none;
    color: black;
  }
}

.active-tab {
  color: crimson;
}

.content-list {
  width: 40%;
  padding-top: 10px;
  align-self: center;
  min-width: 320px;
  max-width: 587px;
  margin: auto;
  display: grid;
  align-content: center;
  justify-items: center;
  max-height: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  cursor: pointer;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-menu-list {
  display: flex;
  justify-content: space-around;

  & span {
    margin: auto 15px auto 10px;
  }
}

.user-image {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
}

.hidden-menu {
  display: none;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  padding-left: 0.35rem;
  padding-right: 0.35rem;

  &:hover {
   background-color: #a4dbf3;
  }
}
